// Colors

$valid: #5c946e;
$error: #f05359;

$basic-white: #fff;
$basic-black: #000;

$button-color: #006aac;
$button-color-hover: #1d41ed;
$button-color-active: #006aac;

$link-active: #00c58e;

// Components
$border-radius: 4px;
$box-shadow: 1px 1px 4px rgba(2, 2, 2, 0.2);
