html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  margin: 0;
}

h1 {
  color: #3a3b3f;
  font-size: 36px;
  line-height: 50px;
}

p {
  margin: 20px 0;
  color: #3a3b3f;
}

a {
  color: #006aac;
  text-decoration: none;
}

label {
  color: #3a3b3f;
  font-size: 16px;
  line-height: 22px;
}

button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  color: $basic-white;
  font-size: 12px;
  line-height: 12px;
  border: 1px solid transparent;
  border-radius: $border-radius;
  background-color: $button-color;
  transition: 0.1s linear background-color;
  &:hover {
    background-color: $button-color-hover;
  }
  &:active {
    background-color: $button-color-active;
  }
  &.--disabled {
    color: $basic-white;
    background-color: #9fd8f1;
    cursor: not-allowed;
  }
  &.--outlined {
    color: #006aac;
    border-color: #006aac;
    background-color: transparent;
    &:hover {
      color: $basic-white;
      background-color: #006aac;
    }
    &.--disabled {
      color: #9fd8f1;
      border: 1px solid #9fd8f1;
      cursor: not-allowed;
      &:hover {
        color: #9fd8f1;
        border: 1px solid #9fd8f1;
        background-color: transparent;
      }
    }
  }
  &.--link {
    color: #006aac;
    background-color: transparent;
    &:hover {
      color: #3f4041;
    }
    &:active {
      color: #3f4041;
    }
    &.--disabled {
      color: #9fd8f1;
      cursor: not-allowed;
      &:hover {
        color: #9fd8f1;
      }
    }
  }
}

input {
  width: 100%;
  height: 36px;
  padding: 0 22px 0 12px;
  outline: none;
  color: #8f8f8f;
  font-size: 12px;
  border: 1px solid #cccccc;
  border-radius: $border-radius;
  background-color: $basic-white;
  &:hover {
    box-shadow: $box-shadow;
  }
  &:focus {
    border: 1px solid #27aae2;
  }
  &.--disabled {
    color: #c4cace;
    cursor: not-allowed;
    &:hover {
      box-shadow: none;
    }
  }
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
